.box-toparea {
  position: relative;
  .titleimg {
    display: block;
    width: 100%;
    z-index: -1;
    padding: 160px 0 0;
    img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}
