.box-toparea {
  position: relative;
  .titleimg {
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    transform: translateY(-50%);
    img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}
