// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-black: #333333;
$color-base-white: #ffffff;
$color-base-gray: #e8e9e8;
$color-base-gold: #8f8a55;
$color-base-red: #c94e37;

$color-text-gray: #666666;


$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;