// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-black: #333333;
$color-base-white: #ffffff;
$color-base-brown: #5b5655;
$color-base-gold: #dbdf03;
$color-base-blue: #79abcc;

$color-text-gray: #666666;


$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;
